body {
  position: absolute;
  left: 303px;
  top: -398px;
  width: 100hv;
  height: 10hv;
  background: #fce9e9;
  background-blend-mode: normal;
}

#smalloval {
  position: absolute;
  left: -274.26px;
  top: 916.29px;
  width: 508.19px;
  height: 698px;
  background: #331d2c;
  background-blend-mode: normal;
  border-radius: 50%;
  transform: rotate(-55deg);
}

#bigoval {
  position: absolute;
  left: 935px;
  top: -793px;
  width: 1602px;
  height: 1515px;
  background: #d4ba9b;
  border-radius: 50%;
  background-blend-mode: normal;
}

#about {
  position: absolute;
  left: 184px;
  top: 74px;
  width: 88px;
  height: 30px;
  font-family: "32_Sarchia_Dastnus_2";
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.18px;
}

#home {
  position: absolute;
  left: 36px;
  top: 74px;
  width: 79px;
  height: 30px;
  font-family: "32_Sarchia_Dastnus_2";
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.18px;
}

#project {
  position: absolute;
  left: 341px;
  top: 74px;
  width: 135px;
  height: 36px;
  font-family: "32_Sarchia_Dastnus_2";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.18px;
}

#contact {
  position: absolute;
  left: 533px;
  top: 76px;
  width: 106px;
  height: 36px;
  font-family: "32_Sarchia_Dastnus_2";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.18px;
}

#supersmall {
  position: absolute;
  left: 808px;
  top: 74px;
  width: 52px;
  height: 38px;
  background: #d4ba9b;
  background-blend-mode: normal;
  border-radius: 50%;
}

#supersmall2 {
  position: absolute;
  left: 1134px;
  top: 74px;
  width: 52px;
  height: 38px;
  background: #331d2c;
  border-radius: 50%;
  background-blend-mode: normal;
}

#fullstackP {
  position: absolute;
  left: 877px;
  top: 75px;
  width: 226px;
  height: 44px;
  color: #331d2c;
  font-family: "32_Sarchia_Dastnus_2";
  font-size: 36px;
  font-weight: 400;
}

#diveintoth {
  position: absolute;
  left: 430px;
  top: 562px;
  width: 1254px;
  height: 160px;
  font-family: "31_Sarchia_Dastnus_1";
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

#designDeve {
  position: absolute;
  left: 420px;
  top: 219px;
  width: 600px;
  height: 232px;
  font-family: "32_Sarchia_Dastnus_2";
  font-size: 96px;
  font-weight: 400;
}

#wavyline2 {
  position: absolute;
  left: 292px;
  top: 640.89px;
  width: 952.21px;
  height: 439.11px;
  border: 1px solid ;
}
