/* Common styles for all screen sizes */
body {
  background-color: #fce9e9;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Container to restrict content within 1920x1080 on larger screens */
.container {
  max-width: 1920px;
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the column width */
  grid-gap: 20px;
  padding-bottom: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Center the navigation horizontally */
  margin-top: 10px;
}

/* Common styles for home, about, project, contact */
nav a {
  color: #331d2c;
  text-decoration: none;
  font-family: "32_Sarchia_Dastnus_2";
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.18px;
  z-index: 2; /* Set a higher z-index value */
  height: 30px;
  line-height: 30px;
  margin: 0 20px; /* Add equal spacing around links */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  nav {
    justify-content: flex-start; /* Align the navigation links to the left */
  }

  nav a {
    font-size: 12px;
    margin: 0 5px; /* Adjust the margin for spacing between links */
    line-height: 24px; /* Adjust line-height for vertical alignment */
  }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  nav {
    justify-content: flex-start; /* Align the navigation links to the left */
  }

  nav a {
    font-size: 12px;
    margin: 0 5px; /* Adjust the margin for spacing between links */
    line-height: 24px; /* Adjust line-height for vertical alignment */
  }
}
@media (max-width: 1200px) {
  #ourskills {
    font-size: 4vw; /* Increase font size for smaller screens */
    
  }

  #bigoval {
    width: 70%; /* Adjust the width for smaller screens */
    padding-bottom: 70%; /* Maintain the aspect ratio */

}
#middle-About {
  font-size: 4vw; /* Increase font size for smaller screens */
}
}


#bigoval {
  position: absolute;
  left: 50%;
  top: -90%; /* Adjust this value to move it higher or lower */
  width: 70%; /* Set the width to 60% of the container's width */
  padding-bottom: 70%; /* Maintain a 1:1 aspect ratio (height = width) */
  background: #d4ba9b;
  background-blend-mode: normal;
  border-radius: 50%;
  transform: translate(-50%, 0); /* Center the element horizontally */
}

#mongoDb {
    position: absolute;
    left: 97%;
    transform: translateX(-50%);
    top: 60%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-mongoDb {
    position: absolute;
    left: 88%;
    transform: translateX(-50%);
    top: calc(60% - 5px); /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }
  
  #mysql {
    position: absolute;
    left: 97%;
    transform: translateX(-50%);
    top: 50%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-mysql {
    position: absolute;
    left: 88%;
    transform: translateX(-50%);
    top: calc(50% - 5px); /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }
  
  #bootstrap {
    position: absolute;
    left: 86%;
    transform: translateX(-50%);
    top: 50%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-bootstrap {
    position: absolute;
    left: 77%;
    transform: translateX(-50%);
    top: calc(50% - 5px); /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }
  
  #expressjs {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    top: 40%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-expressjs {
    position: absolute;
    left: 66%;
    transform: translateX(-50%);
    top: calc(40% - 5px); /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }
  
  #css {
    position: absolute;
    left: 87%;
    transform: translateX(-50%);
    top: 40%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-css {
    position: absolute;
    left: 77%;
    transform: translateX(-50%);
    top: calc(40% - 5px); /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }
  
  #nodejs {
    position: absolute;
    left: 97%;
    transform: translateX(-50%);
    top: 40%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-nodejs{
    position: absolute;
    left: 88%;
    transform: translateX(-50%);
    top: calc(40% - 5px); /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }
  
  #git {
    position: absolute;
    left: 76%;
    transform: translateX(-50%);
    top: 50%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;

text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-git{
    position: absolute;
    left: 66%;
    transform: translateX(-50%);
    top: calc(50% - 5px); /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }
  
  #javascript {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    top: 60%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-javascript{
    position: absolute;
    left: 66%;
    transform: translateX(-50%);
    top: calc(60% - 5px); /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }

#html {
    position: absolute;
    left: 87%;
    transform: translateX(-50%);
    top: 60%;
    width: 100%;
    max-width: 300px;
    height: auto;
    color: #fce9e9;
    font-family: Inter;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  #rectangle-html{
    position: absolute;
    left: 77%;
    transform: translateX(-50%);
    top: calc(60% - 5px);  /* Adjust the top position to align with #mongoDb */
    width: 10%;
    max-width: 350px;
    height: 32.2px;
    border-radius: 25px;
    background: #331d2c;
    background-blend-mode: normal;
  }
  
  
  #midOval {
    position: absolute;
    left: 50%;
    top: 900.7px;
    width: 782px;
    height: 782px;
    background: #331d2c;
    background-blend-mode: normal;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: -391px; /* Half of the height */
    margin-left: -391px; /* Half of the width */
  }
  
  #ourskills {
    position: absolute;
    right: 15%; /* Adjust the right position based on your design */
    top: 25%; /* Adjust the top position based on your design */
    width: 90%; /* Adjust the width based on your design */
    max-width: 600px; /* Add a max-width to prevent excessive stretching */
    font-family: Inter;
    font-size: 3vw; /* Responsive font size based on viewport width */
    font-weight: 400;
    text-align: right;
  }
  #straightLine {
    position: absolute;
    left: 47%; /* Adjust the left position based on your design */
    top: 35%; /* Adjust the top position based on your design */
    width: 20%; /* Adjust the width based on your design */
    height: 1px; /* Adjust the height based on your design */
    background: #000; /* Set the color of the line */
    transform: translateX(100%); /* Center the element horizontally */
  }
  #IntherealmofdesignWedra {
    position: absolute;
    left: 30%;
    top: 37%;
    width: 60%; /* Adjust the width based on your design */
    max-width: 800px; /* Add a max-width to prevent excessive stretching */
    font-size: 1.5vw; /* Responsive font size based on viewport width */
    font-family: "31_Sarchia_Dastnus_1";
    font-weight: 400;
    text-align: center;
    transform: translateX(-50%); /* Center the element horizontally */
  }

/* Small Oval */
#smalloval {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 5%;
  padding-bottom: 5%;
  background: #331d2c;
  background-blend-mode: normal;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#middle-About {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 60%; /* Adjust the width based on your design */
  max-width: 800px; /* Add a max-width to prevent excessive stretching */
  padding-bottom: 60%; /* Maintain a 1:1 aspect ratio (height = width) */
  color: #331d2c;
  font-family: "32_Sarchia_Dastnus_2";
  font-size: 3vw; /* Responsive font size based on viewport width */
  font-weight: 400;
  text-align: center;
  transform: translateX(-50%); /* Center the element horizontally */
}